<div class=" alert {{#unless blackout}}inv{{/unless}}">
    <a href="./admin/blackouts">
        <div class="card aeolus-red-bg order-card">
            <div class="card-block">
                <h2 class="text-center"><span>ALERT!</span></h2>
                <h3 class="text-center"><span>Blackouts Detected!</span></h3>
                <h4 class="text-right"><span>Click to see affected prosumers</span></h4>
            </div>
        </div>
    </a>
</div>

<!-- Dashboard -->
<div class="container dash">
    <h1 class="dash-title">Admin</h1>
    <div class="row">
        <div class="col-md-4 col-xl-3 pointerfix" onclick="javascript:toggleForm(this)" data-target="#powerForm">
            <div class="card aeolus-green-bg order-card">
                <div class="card-block">
                    <h6 class="m-b-20">Coal Power</h6>
                    <h2 class="text-right, coal"><span>{{power}}</span></h2>
                    <h4 class="text-right"><span>Click to manage</span></h4>
                </div>
            </div>
        </div>

        <div class="form-popup reset" id="powerForm">
            <form action="/admin/changepowerplant" class="form-container" method="post">
                <h1>Manage</h1>

                <label for="status"><b>Status</b></label>
                <select id="powerStatus" name="powerStatus">
                    <option value="running">Running</option>
                    <option value="stopped">Stopped</option>
                </select><br>

                <button type="submit" class="btn">Change</button>
            </form>
        </div>

        <div class="col-md-4 col-xl-3">
            <div class="card aeolus-green-bg order-card">
                <div class="card-block">
                    <h6 class="m-b-20">Production Ratio</h6>
                    <h2 class="text-right cardfix">
                        <span>{{ratio}}</span>&nbsp;
                        <small class="fs-6">(Buffer/Market)</small>
                    </h2>
                </div>
            </div>
        </div>

        <div class="col-md-4 col-xl-3">
            <div class="card aeolus-green-bg order-card">
                <div class="card-block">
                    <h6 class="m-b-20">Market Demand</h6>
                    <h2 class="text-right cardfix"><span>{{demand}}</span></h2>
                </div>
            </div>
        </div>

        <div class="col-md-4 col-xl-3 pointerfix" onclick="javascript:toggleForm(this)" data-target="#priceForm">
            <div class="card aeolus-green-bg order-card">
                <div class="card-block">
                    <h6 class="m-b-20">Electricity Price</h6>
                    <h2 class="text-left bm"><span>{{price}}</span></h2>
                    <h4 class="text-right"><span>Click to manage</span></h4>
                </div>
            </div>
        </div>

        <div class="form-popup reset" id="priceForm">
            <form action="/admin/setmarketprice" class="form-container" method="POST">
                <h1>Manage</h1>

                <label for="price"><b>Price (kr / watt)</b></label>
                <input type="text" name="price" required>

                <label for="duration"><b>Duration Valid (Minutes)</b></label>
                <input type="number" name="duration" required>

                <button type="submit" class="btn">Change</button>
            </form>
        </div>

        <div class="col-md-4 col-xl-3">
            <a href="./admin/prosumers">
                <div class="card aeolus-green-bg order-card">
                    <div class="card-block">
                        <h6 class="m-b-20">Prosumers</h6>
                        <h2 class="text-left bm"><span>{{usersSignedIn.length}} signed in</span></h2>
                        <h4 class="text-right"><span>Click to manage</span></h4>
                    </div>
                </div>
            </a>
        </div>

    </div>
</div>

<!-- Scripts -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
    crossorigin="anonymous"></script>
<script>
    function toggleForm(e) {
        console.log(e);
        const dispatcher = e;
        const formSelector = dispatcher.dataset.target;
        const element = document.querySelector(formSelector);

        document.querySelectorAll(`.form-popup:not(${formSelector})`).forEach(elem => {
            elem.style.display = "none";
        });

        if (element.style.display === "none" || !element.style.display) {
            element.style.display = "block";
        } else {
            element.style.display = "none";
        }
    }

</script>